@model TravelSystem.Models.Reservation

@{
    ViewData["Title"] = "Edit";
    var OTId =ViewBag.oldtripId;
}

<h1>Edit @(ViewBag.oldtripId)</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-tripId="@(OTId)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ReservationDate" />
            <div class="form-group">
                <label asp-for="ClintId" class="control-label"></label>
                <select asp-for="ClintId" class="form-control" asp-items="ViewBag.ClintId"></select>
                <span asp-validation-for="ClintId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripId" class="control-label"></label>
                <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
                <span asp-validation-for="TripId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
